@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SFPro";
  src: url("/fonts/SF-Pro-Display-Regular.otf");
}

/* In your css file where you want to use the font */
body {
  font-family: "SFPro", "system-ui", "Arial";
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
