@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SFPro";
  src: url("/fonts/SF-Pro-Display-Regular.otf");
}

/* In your css file where you want to use the font */
body {
  /* font-family: "SFPro", "system-ui", "Arial"; */
}

.react-toggle--checked .react-toggle-track {
  background-color: #9575CD !important;
}

.react-toggle-thumb {
  transform: scale(0.7) !important;
}